body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 75rem;
	padding-top: 4.5rem;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.input-group > .form-control {
	padding: 0.75rem 1.25rem;
	height: 100%;
}

.ac {
	z-index: 10;
}

.list-group-item {
	border-left: 1px solid rgba(0, 0, 0, 0.125);
	border-right: 1px solid rgba(109, 98, 98, 0.125);
	border-top: none;
	border-bottom: none;
}
